@import 'colors';
@import '../in/Main';


/* vuetrainportal.mercer.edu */

.middle-text p {
    color: $warm-black; 
    line-height: 150%;
}

.middle-text h3 {
    color: $orange; 
}

/* LOGIN AREA */

.login_link {
    padding: 20px 20px 20px 20px;
    border-radius: 0;
    font-size: 20px !important;
}

.land_page_dropdown {
    padding: 0;
    margin: 0;
}

.lblstu a {
    font-size: 20px;
    text-transform: uppercase;
}

.lblstulbl {
    font-size: 16px;
}