/*
 * Main.scss
 *
 * Author: Interactive Design & Development
 * Author URI: https://github.com/InteractiveDesignAndDevelopment
 * Description: Style overrides for the Main.css file
 */

@import '../colors';
@import '../../in/student/Main';


/* GENERAL STYLING */

#wrapper {
    background-color: $grey;
}

.middle-text p {
    color: $warm-black; 
    line-height: 150%;
}

.middle-text h3 {
    color: $orange; 
}

.navbar {
    background-color: $warm-black;
}

/* TEXT */

.link2, .link2_red, .link4 {
    font-size: 16px;
    line-height: 18px;
}




/* LOGIN and BUTTONS */

.login_link {
    padding: 20px 20px 20px 20px;
    border-radius: 0;
    font-size: 20px;
}

.land_page_dropdown {
    padding: 0;
    margin: 0;
}

.lblstu a {
    font-size: 20px;
    text-transform: uppercase;
}

.lblstulbl {
    font-size: 16px;
}


/* My Home Page Styling */

/* My Home Page Styling > Left Menu */

#_ctl0_leftNav {
    background-color: $light-grey;
    border-right: 1px solid $grey; 
}

.left_menu_hover, .left_menu_selected {
    color: $light-grey;
} 

/* My Home Page Styling | Whole Page */

#header_no_print {
    background-color: $grey;
    color: $orange; 
} 

#content {
    background-color: $grey; 
}

.tab_icon {
    background-color: $orange;
}

div.QuickLinks_social {
    background-color: $light-grey;
}

ul.QuickLinks_social-share li a:hover {
    background-color: darken($light-grey, 20%); 
}

/* My Home Page Styling | Cards */

.card {
    background-color: $light-grey;
    position: inherit;
    padding: 10px;
}

.bg-blue {
    background-color: none;
}

.small-box-footer {
    visibility: hidden;
}

td[id^="WebPartTitle"] {
    color: $light-grey;
    background-color: $warm-black;
    padding: 10px 0px 10px 0px;
    line-height: 200%;
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
}

table[id^="WebPart"]>tbody>tr>td {
    padding: 5px 5px 0 5px;
}

/* Calendar */ 

.divpnlColorKeys {
    height: 28px;

    }


    /*STUDENT CHANGES*/

    .form-control {
        border-radius: 0;
    }

    .login_box {
        padding: 0;

    }

    .back_home {
        margin-bottom: 2rem;
        padding-right: 0;
    }