/*
 * Main.scss
 *
 * Author: Interactive Design & Development
 * Author URI: https://github.com/InteractiveDesignAndDevelopment
 * Description: Style overrides for the Main.css file
 */

@import '../colors';
@import '../../in/portal/Main';


/* vuetrainportal.mercer.edu */

.middle-text p {
    color: $warm-black; 
    line-height: 150%;
}

.middle-text h3 {
    color: $orange; 
}

.navbar {
    background-color: $warm-black;
}

/* TEXT */

.link2, .link2_red, .link4 {
    font-size: 16px;
    line-height: 18px;
}




/* LOGIN AREA */

.login_link {
    padding: 20px 20px 20px 20px;
    border-radius: 0;
    font-size: 20px;
}

.land_page_dropdown {
    padding: 0;
    margin: 0;
}

.lblstu a {
    font-size: 20px;
    text-transform: uppercase;
}

.lblstulbl {
    font-size: 16px;
}

/* My Home Page Styling */

/* My Home Page Styling > Left Menu */

#_ctl0_leftNav {
    background-color: $light-grey;
}


//.left_menu_hover, .left_menu_selected {
//    padding: 10px!important;
//    background-color: rgba(0,0,0,0.52)!important;
//    cursor: pointer;
//
//}

/* My Home Page Styling | Whole Page */

#header_no_print {
    background-color: $orange;
    color: $light-grey; 
} 

#content {
    background-color: $grey; 
}

/* My Home Page Styling | Cards */

.card {
    background-color: $light-grey;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.small-box-footer {
    visibility: hidden;
}
