/*
 * Main.scss
 *
 * Author: Interactive Design & Development
 * Author URI: https://github.com/InteractiveDesignAndDevelopment
 * Description: Style overrides for the Main.css file
 */

 @import 'colors';
 @import '../originals/portal/Main';


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/orkney/orkney-regular-webfont.woff2') format('woff2'),
         url('../fonts/orkney/orkney-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

//  888                    888          
//  888                    888          
//  888                    888          
//  88888b.   .d88b.   .d88888 888  888 
//  888 "88b d88""88b d88" 888 888  888 
//  888  888 888  888 888  888 888  888 
//  888 d88P Y88..88P Y88b 888 Y88b 888 
//  88888P"   "Y88P"   "Y88888  "Y88888 
//                                  888 
//                             Y8b d88P 
//                              "Y88P"    

.middle-text p {
    color: $warm-black; 
    line-height: 150%;
}

.middle-text h3 {
    color: $orange; 
}

.link2, .link2_red, .link4 {
    font-size: 16px;
    line-height: 18px;
}


//  888b    888        d8888 888     888 
//  8888b   888       d88888 888     888 
//  88888b  888      d88P888 888     888 
//  888Y88b 888     d88P 888 Y88b   d88P 
//  888 Y88b888    d88P  888  Y88b d88P  
//  888  Y88888   d88P   888   Y88o88P   
//  888   Y8888  d8888888888    Y888P    
//  888    Y888 d88P     888     Y8P     

.navbar {
    background-color: $warm-black;
}

.navbar-brand1 {
    max-width: 20rem;
}

#header_no_print {
    background-color: $grey;
    color: $orange; 
} 

#content {
    background-color: $grey; 
}

.tab_icon {
    background-color: $orange;
}

div.QuickLinks_social {
    background-color: $light-grey;
}

ul.QuickLinks_social-share li a:hover {
    background-color: darken($light-grey, 20%); 
}

//  888           .d888 888          888b    888        d8888 888     888 
//  888          d88P"  888          8888b   888       d88888 888     888 
//  888          888    888          88888b  888      d88P888 888     888 
//  888  .d88b.  888888 888888       888Y88b 888     d88P 888 Y88b   d88P 
//  888 d8P  Y8b 888    888          888 Y88b888    d88P  888  Y88b d88P  
//  888 88888888 888    888          888  Y88888   d88P   888   Y88o88P   
//  888 Y8b.     888    Y88b.        888   Y8888  d8888888888    Y888P    
//  888  "Y8888  888     "Y888       888    Y888 d88P     888     Y8P     

#_ctl0_leftNav {
    background-color: $light-grey;
    border-right: 1px solid $grey; 
}

.left_menu_hover, .left_menu_selected {
    color: darken($light-grey, 52%);
} 

.submenu_hover, .submenu_selected, .submenu_selected:hover {
    background-color: darken($light-grey, 18%);
}



//  888                   d8b                                                   
//  888                   Y8P                                                   
//  888                                                                         
//  888  .d88b.   .d88b.  888 88888b.         8888b.  888d888  .d88b.   8888b.  
//  888 d88""88b d88P"88b 888 888 "88b           "88b 888P"   d8P  Y8b     "88b 
//  888 888  888 888  888 888 888  888       .d888888 888     88888888 .d888888 
//  888 Y88..88P Y88b 888 888 888  888       888  888 888     Y8b.     888  888 
//  888  "Y88P"   "Y88888 888 888  888       "Y888888 888      "Y8888  "Y888888 
//                    888                                                       
//               Y8b d88P                                                       
//                "Y88P"        

.login_link {
    padding: 20px 20px 20px 20px;
    border-radius: 0;
    font-size: 20px;
    display: inline-block
}

.land_page_dropdown {
    padding: 0;
    margin: 0;
}

.middle-text.divcenter {
    display: inline-block;
    background-color: $light-grey; 
    padding: 1rem;
}

@media (max-width: 480px) {

    .middle-text {
        margin-top: 4rem;
    }
    
}

.lblstu a {
    font-size: 20px;
    text-transform: uppercase;
}

.lblstulbl {
    font-size: 16px;
}

.login_img{
    margin-top: 6rem;    
}


//   .d8888b.         d8888 8888888b.  8888888b.   .d8888b.         d88P 8888888b.         d8888 888b    888 8888888888 888       .d8888b.  
//  d88P  Y88b       d88888 888   Y88b 888  "Y88b d88P  Y88b       d88P  888   Y88b       d88888 8888b   888 888        888      d88P  Y88b 
//  888    888      d88P888 888    888 888    888 Y88b.           d88P   888    888      d88P888 88888b  888 888        888      Y88b.      
//  888            d88P 888 888   d88P 888    888  "Y888b.       d88P    888   d88P     d88P 888 888Y88b 888 8888888    888       "Y888b.   
//  888           d88P  888 8888888P"  888    888     "Y88b.    d88P     8888888P"     d88P  888 888 Y88b888 888        888          "Y88b. 
//  888    888   d88P   888 888 T88b   888    888       "888   d88P      888          d88P   888 888  Y88888 888        888            "888 
//  Y88b  d88P  d8888888888 888  T88b  888  .d88P Y88b  d88P  d88P       888         d8888888888 888   Y8888 888        888      Y88b  d88P 
//   "Y8888P"  d88P     888 888   T88b 8888888P"   "Y8888P"  d88P        888        d88P     888 888    Y888 8888888888 88888888  "Y8888P"  

.card {
    background-color: $light-grey;
    position: inherit;
    padding: 10px;
}

.bg-blue {
    background-color: none;
}

.small-box-footer {
    visibility: hidden;
}

td[id^="WebPartTitle"] {
    color: $light-grey;
    background-color: $warm-black;
    padding: 10px 0px 10px 0px;
    line-height: 200%;
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
}

table[id^="WebPart"]>tbody>tr>td {
    padding: 5px 5px 0 5px;
}

.carousel_custom {
    background-color: $light-grey;
}

//                    888                        888                  
//                    888                        888                  
//                    888                        888                  
//   .d8888b  8888b.  888  .d88b.  88888b.   .d88888  8888b.  888d888 
//  d88P"        "88b 888 d8P  Y8b 888 "88b d88" 888     "88b 888P"   
//  888      .d888888 888 88888888 888  888 888  888 .d888888 888     
//  Y88b.    888  888 888 Y8b.     888  888 Y88b 888 888  888 888     
//   "Y8888P "Y888888 888  "Y8888  888  888  "Y88888 "Y888888 888     
//                                                                    
//                                                                    
//   

.divpnlColorKeys {
    height: 28px;

}

#footer, .footer {
    border-top: none;
}

//                                                                                                       888                     
//                                                                                                       888                     
//                                                                                                       888                     
//  88888b.d88b.   .d88b.  .d8888b  .d8888b   8888b.   .d88b.   .d88b.         .d8888b  .d88b.  88888b.  888888  .d88b.  888d888 
//  888 "888 "88b d8P  Y8b 88K      88K          "88b d88P"88b d8P  Y8b       d88P"    d8P  Y8b 888 "88b 888    d8P  Y8b 888P"   
//  888  888  888 88888888 "Y8888b. "Y8888b. .d888888 888  888 88888888       888      88888888 888  888 888    88888888 888     
//  888  888  888 Y8b.          X88      X88 888  888 Y88b 888 Y8b.           Y88b.    Y8b.     888  888 Y88b.  Y8b.     888     
//  888  888  888  "Y8888   88888P'  88888P' "Y888888  "Y88888  "Y8888         "Y8888P  "Y8888  888  888  "Y888  "Y8888  888     
//                                                         888                                                                   
//                                                    Y8b d88P                                                                   
//                                                     "Y88P"                                                                    

.tabon {
    font-size: 16px;
    color: $warm-black;
    background-color: $light-grey;
    box-shadow: 4px 4px 4px grey;
    padding: 20px;
}

td[id*="tabMessages"] div {
    margin: 1rem;
    line-height: 150%;
    padding: 1rem;
    background: none;
}

td[class*="HovT"], td[class*="SelT"], td[class*="DefT"] {
    background: none;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px 5px 0px 0px; 
}
td[class*="SelT"].tabon {
    background-color: $light-grey;
}

//                            d8b          888                     888    d8b                   
//                            Y8P          888                     888    Y8P                   
//                                         888                     888                          
//  888d888  .d88b.   .d88b.  888 .d8888b  888888 888d888  8888b.  888888 888  .d88b.  88888b.  
//  888P"   d8P  Y8b d88P"88b 888 88K      888    888P"       "88b 888    888 d88""88b 888 "88b 
//  888     88888888 888  888 888 "Y8888b. 888    888     .d888888 888    888 888  888 888  888 
//  888     Y8b.     Y88b 888 888      X88 Y88b.  888     888  888 Y88b.  888 Y88..88P 888  888 
//  888      "Y8888   "Y88888 888  88888P'  "Y888 888     "Y888888  "Y888 888  "Y88P"  888  888 
//                        888                                                                   
//                   Y8b d88P                                                                   
//                    "Y88P"       

.tab-pane {
    border: 2px solid transparent;
}

.panelframe3 {
    background-color: none; 
}

#tblSearchResults {
    background-color: $light-grey;
}

//This search results row actually works. It's the other one that doesn't. Show it!
//#T14 {
//    visibility: hidden;
//}

//This is the search results row that doesn't currently work. Hide it!
[id*="SearchResults"] td[colspan*="1"] {
    visibility: hidden;
    }

//external links pages

    span[id*="lblTitle"] {
        font-size: 26px;
    }

//   d888b  d8888b.  .d8b.  d8888b. d88888b d8888b.  .d88b.   .d88b.  db   dD 
//  88' Y8b 88  `8D d8' `8b 88  `8D 88'     88  `8D .8P  Y8. .8P  Y8. 88 ,8P' 
//  88      88oobY' 88ooo88 88   88 88ooooo 88oooY' 88    88 88    88 88,8P   
//  88  ooo 88`8b   88~~~88 88   88 88~~~~~ 88~~~b. 88    88 88    88 88`8b   
//  88. ~8~ 88 `88. 88   88 88  .8D 88.     88   8D `8b  d8' `8b  d8' 88 `88. 
//   Y888P  88   YD YP   YP Y8888D' Y88888P Y8888P'  `Y88P'   `Y88P'  YP   YD 

// Final Gradebook grades hard coded width was 42 px. This makes it full-width. Chose 100% instead of auto to cover any future updates. 
// Moved to portal-bootstrap_custom.scss
//select[id*="finalGrades"] {
//    width: 100% !important;
//}                                                                 